<div class="carousel-container">
<div data-controller="carousel" class="swiper-container" id="show" data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination",
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"}}'>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination" id="pagination-index"></div>
  <div class="swiper-wrapper">
    <% spot.photos.each do |photo| %>
      <div class="swiper-slide">
        <div class="spot-preview" style="width: 100vw; background-color: #222831;">
          <%=link_to cl_image_tag(photo.key, style: 'height: 30vh; width: 100vw;'), spot %>
          <div>
            <% link_to spot do %>
              <%= cl_image_tag(photo.key)%>
            <% end %>
          </div>
          <div class="ml-3">
            <h5 class="spot-info">
              <%= link_to spot.name.capitalize, spot %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
