<% if @spot.category == "shop" %>
  <div class="container mb-3">
    <% if current_user.present? %>
      <div class="btn-upload mb-3">
        <%= render 'reviews/modal' %>
      </div>
    <% else %>
      <div class="btn-upload mb-3">
        <%= link_to "Review", new_user_session_path, class: "btn btn-gradient" %>
      <% end %>
    </div>
    <% if @spot.reviews.empty? %>
      <div class='container mt-5 text-center'>
        <p>No reviews yet.</p>
        <p>Be the first to leave a review for <%= @spot.name %>!</p>
      </div>
    <% else %>
      <% @spot.reviews.each do |review| %>
        <p><em><%= review.comment %></em></p>
        <div class="d-flex">
          <% review.rating.times do %>
            <p><em><i class="fas fa-star"></i> </em></p>
          <% end %>
        </div>
      <% end %>
      <hr>
    <% end %>
  </div>
<% end %>
