// Specific CSS for your home-page
#home-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-bg a.btn.btn-gradient.navbar-login, #home-bg a.btn.btn-gradient.navbar-signup  {
  background:rgba(240, 84, 84, 0.7);
  margin-right: .8rem;
   &:hover {
     background:rgba(240, 84, 84, 1);
  }
  color: rgba($color: white, $alpha: 1.0);
}

#home-bg a.btn.btn-gradient.lets-go {
  font-weight: bold;
  &:hover {
    color: $sk8it-black !important;
  }
}


  #home-bg {
    background-image: linear-gradient(
      rgba(34, 40, 49, 0.3),
      rgba(48, 71, 94, 0.3)
    ),
    url("sk8it-home-wide.jpg");
    background-size: cover;
    background-position: center;
  }
  #home-container h2 {
    font-size: 6rem;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }
  #home-bg a.btn.btn-gradient.lets-go {
  font-size: 2rem;
  font-weight: bold;
    &:hover {
      color: $sk8it-black !important;
      box-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    }
  }
