.spot {
  margin: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
}


#marker {
  color: #dddddd;
}

.spot img {
  width: auto;
  height: 30rem;
  object-fit: cover;

}

.btn-upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input {
  outline-color: transparent;
  outline-style: none;
  border: none;
  margin-bottom: 1rem;
  background: #dddddd;
  padding: 0.5rem 1rem;
  :focus {
    outline-color: transparent;
    outline-style: none;
  }
}

input#query.form-control {
  border-radius: 0;
  border: none;
}

i {
  color: #f05454;
}

.card-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: auto;
  padding: 2rem;
  position: relative;
}

.card-video .avatar-bordered {
  position: absolute;
  bottom: 21rem;
  left: 2.5rem;
  z-index: 2;

}
.video-infos {
  background: #30475E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
