.spot {
  margin: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
}

.spot-video {
  background-color: $sk8it-blue;
  margin: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
}

h2 {
  margin-left: 1rem;
}

#marker {
  color: #dddddd;
}

.swiper-slide {
}

.spot img {
  width: auto;
  height: 30rem;
  object-fit: cover;
  padding: 1rem;
}

.btn-upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input {
  outline-color: transparent;
  outline-style: none;
  border: none;
  background: #dddddd;
  padding: 0.5rem 1rem;
  :focus {
    outline-color: transparent;
    outline-style: none;
  }
}

input#query.form-control {
  border-radius: 0;
  border: none;
}

i {
  color: #f05454;
}

.video-infos {
  background: #30475E;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
