.spot {
  margin: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
}

.spot img {
  width: auto;
  height: 30rem;
  object-fit: cover;
}

.btn-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

i {
  color: #f05454;
}

.card-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: auto;
  position: relative;
}
.card-video h2 {
  display: flex;
  justify-content: left;
}

.card-video .avatar-bordered {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.video-infos {
  background: #30475e;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
