<div class="container mt-3 text-center">
  <div class="card-profile">
    <h1>My Profile</h1>
    <p><%= "Name: #{@user.username}" %></p>
    <p><%= "Email: #{@user.email}" %></p>
    <p><%= "Videos added: #{@user.videos.count}" %></p>
    <p><%= "Reviews left: #{@user.reviews.count}" %></p>
   </div>
</div>
