<!-- Button trigger modal -->
<div class="btn btn-gradient text-center ml-2" data-toggle="modal" data-target="#video">
   Upload Video
</div>
<!-- Modal -->
<div class="modal fade p-2" id="video" tabindex="-1" aria-labelledby="videoLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-body rounded p-3">
        <%= render 'videos/form' %>
      </div>

  </div>
</div>
