<%= render 'shared/navbar' %>
<body id="home-bg">
  <div id="home-container">
    <h2 class="text-center mb-3">
      SEARCH | SKATE | SHOWOFF <br>
    </h2>
    <div class="container d-flex justify-content-center">
      <%= link_to "Let's go!", spots_path, class: "btn btn-gradient" %>
    </div>
  </div>
</body>
