.btn-gradient {
  color: white;
  font-size: small;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#eb5e5e, $sk8it-red);
  border: 1px solid $sk8it-red;
}
