.spot-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.spot-preview img {
  min-width: auto;
  min-height: 100%;
  background-image: cover;
}

.spot-info a {
  color: white;
  padding: 1rem;
  margin: 1rem;
  background-color: #30475e;
  border-left: 1rem solid #f05454;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
