.spot-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.spot-info a {
  color: white;
  padding: 1rem;
  background-color: #30475e;
  border-left: 1rem solid #f05454;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
