.add-a-video {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-image: url("levi-frey-unsplash.jpg");
  background-size: cover;
  color: $sk8it-gray;
  padding: 3rem;
  margin: 3rem;
  width: auto;
  height: 50vh;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  justify-content: center;
  position: relative;
}

.back-button {
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  left: 3.5rem;
}

#video-input input {
  font-size: 2rem;
  border-radius: 1rem;
}

#video-btn-upload input {
  background-color: $sk8it-black;
  border-radius: 1rem;
}

.video-btn-create {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.video-btn-create input {
  color: white;
  margin-right: 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0.6rem 0.6rem;
  background: linear-gradient(#eb5e5e, $sk8it-red);
  text-align: center;
}
.video-btn-create a {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 4px;
  background: linear-gradient(#eb5e5e, $sk8it-red);
  text-align: center;
}
