.add-a-spot {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-image: linear-gradient(
      rgba(34, 40, 49, 0.6),
      rgba(48, 71, 94, 0.3)
    ),
    url("adrien-vajas-unsplash.jpg");
  background-size: cover;
  font-weight: bold;
  color: white;
  padding: 3rem;
  margin: 3rem;
  width: auto;
  height: 70vh;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  justify-content: center;
  position: relative;
}

.back-button i {
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  left: 22rem;
}

#spot-input input {
  font-size: 2rem;
  border-radius: 1rem;
}

#spot-btn-upload input {
  background-color: $sk8it-blue;
  border-radius: 1rem;
  outline: transparent;
}
#spot-btn-upload label {
  color: $sk8it-gray;
}

.spot-btn-create {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

#spot-btn-create input {
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0.6rem 0.6rem;
  background: linear-gradient(#eb5e5e, $sk8it-red);
  text-align: center;
  position: absolute;
  right: 3rem;
}

.ap-suggestion {
  color: $sk8it-black;
}
