.mapboxgl-popup {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 9999;
}

.mapboxgl-popup-close-button {
  display: none;
}

.popups .mapboxgl-popup-content {
  background: $sk8it-blue;
   border-radius: 2rem;
}
