.mapboxgl-popup {
  max-width: auto;
  z-index: 9999;
}

.mapboxgl-popup-close-button {
  display: none;
}

.popups .mapboxgl-popup-content {
  background: $sk8it-blue;
  border-radius: 2rem;
}

#map {
  border: 1rem solid $sk8it-black;
  border-radius: 2rem;
}
