.modal-titles #reviewLabel {
  color: black;
}

.required #reviewLabel {
  color: black;
}

.modal-comment {
  font-size: 2rem;
}

.comments {
  display: none;
}

.comment-list {
  margin-left: 1em;
}
  
.modal-style {
  background: $sk8it-black;
  margin: 0;
  padding: 0;
  width: 100vw;
}
