.search-bar {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  outline-color: transparent;
  outline-style: none;
  border-style: none;
  border-radius: 1rem 0 0 1rem;
  color: $sk8it-black;
  background: $sk8it-gray;
  padding: 0.5rem 1rem;
  :focus {
    outline-color: transparent;
    outline-style: none;
  }
}
.search-bar button {
  border-width: 0;
  outline-color: transparent;
  outline-style: none;
  border-radius: 0 1rem 1rem 0;
  background: $sk8it-gray;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.radios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: .5rem;
  margin: 0;
}
