.swiper-slide {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  &:not(.swiper-slide-active) {
    opacity: 0 !important;
  }
}

.carousel-container {
  position: relative;
  img {
    object-fit: scale-down;
  }
}

#favorite_button {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 2.5rem;
  z-index: 999;
}

.swiper-pagination {
  align-self: flex-end;
  position: absolute;
  bottom: -3rem;
  justify-self: center;
  left: 16rem;
  margin-bottom: 2rem;
}

#pagination-index {
  left: 9rem;
  bottom: -4rem;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
  background: $sk8it-red;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 44px;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-feature-settings: normal;
  font-variant: normal;
  font-variant: initial;
  line-height: 1;
  color: $sk8it-red;
}
