<!-- Button trigger modal -->
<div class="btn btn-gradient text-center ml-2" data-toggle="modal" data-target="#review">
   Review
</div>
<!-- Modal -->
<div class="modal fade" id="review" tabindex="-1" aria-labelledby="reviewLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-style">


        <%= render 'reviews/form' %>
      </div>
    </div>
  </div>
</div>
