<!-- Button trigger modal -->
<div class="btn btn-gradient text-center ml-2" data-toggle="modal" data-target="#review">
   Review
</div>
<!-- Modal -->
<div class="modal fade" id="review" tabindex="-1" aria-labelledby="reviewLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-titles" id="reviewLabel">Pleave leave a review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body rounded p-3">
        <%= render 'reviews/form' %>
      </div>
    </div>
  </div>
</div>
